* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  background-color: #f6fbf4;
  text-align: center;
}
.info {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  padding: 20px;
  padding-bottom: 0px;
  margin-bottom: 50px;
}
.info .heading_seat {
  width: inherit;
  height: inherit;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  text-align: center;
}
.info .heading_seat p {
  color: black;
  font-family: Copperplate Gothic Light;
  font-size: 1.3em;
  cursor: default;
}

.seat {
  height: 30px;
  width: 35px;
  background-color: #f5df99;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 2px;
  cursor: pointer;
}
.seats {
  display: flex;
  margin: 10px;
}
table:nth-child(1) {
  margin-right: 20px;
}
table:nth-child(2) {
  margin-right: 20px;
}
/* table:nth-child(2) {
  margin-right: 20px;
5FD068
4B8673

} */
.info .heading_seat .seat.booked {
  background-color: #4b8673;
  cursor: default;
}
.info .heading_seat .seat.notBooked {
  background-color: #f5df99;
  cursor: default;
}
.info .heading_seat .seat.selected {
  background-color: #5fd068;
  cursor: default;
}
.seat.booked {
  background-color: #4b8673;
  cursor: default;
}
.seat.notBooked {
  background-color: #f5df99;
}
.seat.selected {
  background-color: #5fd068;
}
.screen {
  height: 150px;
  width: 100%;
  background-color: lightcyan;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.75);
}
.container {
  perspective: 1000px;
}
.footer p {
  font-size: 1.5rem;
  font-weight: 400;
}
.movie_container {
  margin: 20px 0;
}
.movie_container label {
  font-size: 2rem;
  font-weight: 300;
}
.movie_container select {
  border: 0;
  background-color: lightgray;
  border-radius: 5px;
  font-size: 25px;
  width: 100%;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.movie_container select option {
  font-size: 25px;
}
